html {
  box-sizing: border-box;
  color: #222;
  font-family: "Crimson Text", serif;
  line-height: '1.3'
}

*, *::before, * ::after {
  box-sizing: inherit;
}

body {
  margin: 0
}

article {
  padding: 0 1rem;
}
